[app]
port = 80

[secret]
session_secret = "WHERuSi6FfVU134g"

[mysql]
address = "1.1.1.1"
port = 3306
username = "admin"
password = "admin123"
database = "database"

[oss]
access_key_id = "abc"
access_key_secret = "abc"
area = "oss-cn-abc"
bucket = "abc"